In [1]:
%load_ext autoreload
%autoreload 2

from src.utils import preprocess
import pandas as pd

In [2]:
data = pd.read_csv('./data/rocket.csv')
data = preprocess.basic(data)

In [6]:
data

,career,school,project,language,award,certificate,id
0,경력\n(2년 3개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,"프로젝트\n \n \n \n 홍보\n, ...",언어\n \n \n 영어\n \n ...,,자격증\n \n \n Google Analytics In...,0
1,경력\n\n \n \n \n \n ...,,,,,,1
2,경력\n(5년 8개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n uWSGI\...,,,자격증\n \n \n 정보기술자격(ITQ)OA마스터\n ...,2
3,경력\n(5년)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n 그래픽디자인...,,,자격증\n \n \n 컴퓨터그래픽스운용기능사\n ...,3
4,경력\n(4년 7개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n \n ...,언어\n \n \n 영어\n \n ...,수상\n \n \n Startup Weekend Seou...,,4
...,...,...,...,...,...,...,...
44222,경력\r\n\r\n \r\n \r\n \r\n \r...,,,,,,44222
44223,경력\r\n\r\n \r\n \r\n \r\n \r...,학력\r\n \r\n \r\n \r\n ...,,,,,44223
44224,,학력\r\n \r\n \r\n \r\n ...,,,,,44224
44225,경력\r\n\r\n \r\n \r\n \r\n \r...,,,,,,44225
44226,경력\r\n(12년 2개월)\r\n \r\n \r\n \r\n ...,학력\r\n \r\n \r\n \r\n ...,프로젝트\r\n \r\n \r\n \r\n ...,언어\r\n \r\n \r\n 영어\r\n ...,,자격증\r\n \r\n \r\n Think101x: Th...,44226

In [3]:
career = preprocess.career(data)
career

/Users/minjoo.lee/localhost/career_recommendation/src/utils/preprocess.py:161: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb['period'][i] =bb['period'][i].replace('년','*12')
/Users/minjoo.lee/localhost/career_recommendation/src/utils/preprocess.py:163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb['period'][i] =bb['period'][i].replace('년','*12+')

,ID,career,task,start,end,period,turn,sum_peri
0,2,(주)포와인드시스템,서버관리/SW개발유지보수,2013-12-01 00:00:00,2014-07-01 00:00:00,7,0,7
1,2,(주)위즈그룹,개발및유지보수,2014-11-01 00:00:00,2015-11-01 00:00:00,12,1,19
2,2,(주)이오랩인터내셔널,플랫폼개발리더,2015-12-01 00:00:00,2016-03-01 00:00:00,3,2,22
3,2,(주)옴니커뮤니케이션,플랫폼개발리더,2016-04-01 00:00:00,2016-07-01 00:00:00,3,3,25
4,2,움직임(UMJIKIM),CTO(플랫폼개발리더),2016-08-01 00:00:00,2019-05-01 00:00:00,33,4,58
...,...,...,...,...,...,...,...,...
32629,44199,엔쓰리엔(N3N),UX/UIDesigner,2007-03-01 00:00:00,2020-11-01 00:00:00,163,1,196
32630,44213,트웰브해방촌,바텐더매니저,2014-07-01 00:00:00,2018-06-01 00:00:00,47,0,47
32631,44213,놀숲강남논현점,매니저,2019-04-01 00:00:00,2019-12-01 00:00:00,8,1,55
32632,44215,홈일렉,영업/마케팅,2014-12-01 00:00:00,2015-02-01 00:00:00,2,0,2
32633,44220,사이코플럭스엔터테인먼트(PsychoFluxEntertainment),GraphicArtist,2014-03-01 00:00:00,2020-11-01 00:00:00,79,0,79

In [3]:
school = preprocess.school(data)

In [4]:
school

,id,school_name,school_major_name,school_major_state,school_major_level,school_start,school_end,school_state
0,0,동국대학교,정치외교학과,전공,학사,2012,2017,졸업
1,0,동국대학교,경상대학 국제통상학과,복수전공,학사,2012,2017,졸업
2,2,경남정보대학교,컴퓨터공학과,전공,전문학사,2009,2014,졸업
3,3,경남대학교,시각디자인,전공,학사,2008,2013,졸업
4,4,서강대학교,전자공학과,전공,학사,2011,2017,졸업
...,...,...,...,...,...,...,...,...
33274,44213,한성대학교,행정학과,전공,학사,2008,2014,졸업
33275,44213,한성대학교,역사문화학부,복수전공,학사,2008,2014,졸업
33276,44215,북경사범대학교,영어영문학과,전공,학사,2011,2018,졸업
33277,44216,한양대학교 ERICA,커뮤니케이션디자인학과,전공,학사,2017,2021,재학
33278,44220,동서울대학교,게임콘텐츠,전공,학사,2016,NaN,재학

In [5]:
skill = preprocess.skill(data)

In [15]:
skill

          id       skill project_time
0          0          홍보         None
1          0       이벤트기획         None
2          0      이벤트마케팅         None
4          2     python3         None
5          2  Amazon AWS         None
...      ...         ...          ...
73285  44150        None     2015년 9월
73286  44174  JavaScript         None
73287  44174     Node.js         None
73288  44174        None     2017년 7월
73292  44213        None     2018년 3월

[59371 rows x 3 columns]

In [7]:
certificate = preprocess.certificate(data)

In [8]:
certificate

          id                        certificate_name certificate_time
0          0  GoogleAnalyticsIndividualQualification          2021년3월
2          2                               정보기기운용기능사             None
3          2                               컴퓨터활용능력2급             None
5          2                                워드프로세스1급             None
6          3                            컴퓨터그래픽스운용기능사             None
...      ...                                     ...              ...
15185  44131                            컴퓨터그래픽스운용기능사          2007년8월
15187  44154                                    OPIC          2022년1월
15189  44181                                  정보처리기사             None
15190  44196                                  정보처리기사             None
15192  44220                                 웹디자인기능사          2015년8월

[8940 rows x 3 columns]

In [9]:
language = preprocess.language(data)
language

          id language_name     language_lavel
0          0            영어     고급(자유자재의 의사소통)
1          4            영어    중급(업무상 의사소통 가능)
2          5            영어     고급(자유자재의 의사소통)
3          6            영어    중급(업무상 의사소통 가능)
4          8           한국어             원어민 수준
...      ...           ...                ...
16045  44215            영어     고급(자유자재의 의사소통)
16046  44215           중국어  중상급(업무상 원활한 의사소통)
16047  44220           한국어             원어민 수준
16048  44220            영어                 초급
16049  44226            영어     고급(자유자재의 의사소통)

[15968 rows x 3 columns]

In [10]:
award = preprocess.award(data)
award

         id     award
0         4   2018년2월
1         4  2017년12월
2         7  2019년10월
3         7  2018년12월
4         7  2016년12월
...     ...       ...
9065  44175  2019년12월
9066  44175  2019년12월
9067  44175  2019년10월
9068  44175  2018년12월
9069  44175   2013년9월

[9070 rows x 2 columns]