In [1]:
%load_ext autoreload
%autoreload 2

from src.utils import preprocess
import pandas as pd

In [2]:
data = pd.read_csv('./data/rocket.csv')

In [3]:
data.shape

(78135, 8)

In [4]:
data = preprocess.basic(data)

In [5]:
data.shape

(44227, 7)

In [6]:
data.head()

,career,school,project,language,award,certificate,id
0,경력\n(2년 3개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,"프로젝트\n \n \n \n 홍보\n, ...",언어\n \n \n 영어\n \n ...,,자격증\n \n \n Google Analytics In...,0
1,경력\n\n \n \n \n \n ...,,,,,,1
2,경력\n(5년 8개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n uWSGI\...,,,자격증\n \n \n 정보기술자격(ITQ)OA마스터\n ...,2
3,경력\n(5년)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n 그래픽디자인...,,,자격증\n \n \n 컴퓨터그래픽스운용기능사\n ...,3
4,경력\n(4년 7개월)\n \n \n \n \n ...,학력\n \n \n \n \n ...,프로젝트\n \n \n \n \n ...,언어\n \n \n 영어\n \n ...,수상\n \n \n Startup Weekend Seou...,,4

In [7]:
data['career'] = preprocess.career(data)['career']
data['school'] = preprocess.school(data)['school']

data['skill'] = preprocess.skill(data)['skill']
data = data.drop(['project'], axis=1)

data['language'] = preprocess.language(data)['language']
data['award'] = preprocess.award(data)['award']
data['certiricate'] = preprocess.certificate(data)['certificate']

data = data.loc[:, ['id', 'career', 'school', 'skill', 'language', 'award', 'certiricate']]

In [8]:
data.head()

,id,career,school,skill,language,award,certiricate
0,0,"[(나이키(Nike), 2020년 6월 - 현재 | 4개월), (제일기획(Cheil...","[동국대학교, 정치외교학과 전공(학사), 경상대학 국제통상학과 복수전공(학사), 2...","[홍보, 이벤트기획, 이벤트마케팅]","[영어, 고급(자유자재의 의사소통)]",[],"[[GoogleAnalyticsIndividualQualification, Goog..."
1,1,[],[],[],[],[],[]
2,2,"[(와이폴라리스(ypolaris), 2020년 2월 - 2020년 4월 | 2개월)...","[경남정보대학교, 컴퓨터공학과 전공(전문학사), 2009년 - 2014년 졸업]","[uWSGI, python3, Amazon AWS, Back-end, python ...",[],[],"[[정보기술자격(ITQ)OA마스터, 한국생산성본부(KPC)], [정보기기운용기능사,..."
3,3,"[(코어라인소프트, 2015년 10월 - 현재 | 5년)]","[경남대학교, 시각디자인 전공(학사), 2008년 - 2013년 졸업]","[그래픽디자인, 모바일디자인, UI/UX디자인]",[],[],"[[컴퓨터그래픽스운용기능사, 한국산업인력공단, 2012년12월취득]]"
4,4,"[(센드버드(Sendbird), 2019년 3월 - 현재 | 1년 7개월), (에이...","[서강대학교, 전자공학과 전공(학사), 2011년 - 2017년 졸업, 프로젝트 :...",[],"[영어, 중급(업무상 의사소통 가능)]",[],[]